@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Lexend+Deca:wght@100..900&display=swap&family=Lexend+Exa:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend Exa', sans-serif;
  color: #000000;
  background-color: #f4f4f4;
  line-height: 1.6;
}

.layout-height {
  min-height: calc(100vh - 132px);
}