@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Lexend+Deca:wght@100..900&display=swap&family=Lexend+Exa:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend Exa', sans-serif;
  color: #000000;
  background-color: #f4f4f4;
  line-height: 1.6;
}

.layout-height {
  min-height: calc(100vh - 132px);
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}